<section data-ng-controller="HomeController">
    <div class="row" style="margin-top: 200px" data-ng-hide="authentication.user">
        <div class="col-md-6 col-md-6-offset" style="padding-top: 5px">
            <h1><strong>Never miss another show.</strong></h1>
            <p>Austin kitsch tousled Schlitz, hoodie flannel try-hard tattooed deep v kale chips Vice</p>
            <p>Roof party typewriter single-origin coffee, lomo 90's pour-over craft beer </p>
            <p>Kickstart seitan YOLO Blue Bottle try-hard. Yr church-key Wes Anderson, lo-fi</p>
            <p>distillery single-origin coffee roof party chillwave cred.</p>
        </div>
        <div class="col-md-6 col-md-6-offset">
            <div>
                <h2><small>Thundercats iPhone hashtag ennui pickled gentrify actually bicycle rights trust fund</small></h2>
                <a style="margin-left: 75px; margin-top: 36px" href="/#!/signup" class="btn btn-primary btn-lg" ui-route="/signup" ng-class="{active: $uiRoute}">Sign up</a>
                <a style="margin-left: 75px; margin-top: 36px" href="/#!/signin" class="btn btn-primary btn-lg" ui-route="/signin" ng-class="{active: $uiRoute}">Sign in</a>
            </div>
        </div>
    </div>


</section>
